<style type="text/css">

#cell1 {
    background-color: #eee
}

#cell2 {
    background-color: #ddd
}

</style>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        DIV
        <small>Full Height</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
    </ol>
</section>

<!-- Main content -->
<section class="content" >
<div>

<div class="page-header">case 1</div>
<style type="text/css">
.row.table-row {display:table;width:100%;margin:0 auto;}

.row.table-row > [class*="col-"] {
    float:none;
    display:table-cell;
    vertical-align:top;
}
</style>
<div class="row table-row">
    <div class="col-xs-4" id="cell1" >
        <div class="text-center" >
            full height
        </div>
    </div>
    <div class="col-xs-8" id="cell2">
        <div class="text-center">
            Content goes here
            a<br>
            a<br>
            a<br>
            a<br>
            a<br>
            a<br>
            a<br>
            a<br>
        </div>
    </div>        
</div>

<div class="page-header">case 2</div>
<style type="text/css">
#equalheight {
    overflow: hidden; 
}

.demo{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    background-color:#efefef;
}
</style>
<div class="row">
    <div id="equalheight">
        <div class="col-xs-4 demo" id="cell1" >
            <div class="text-center" >
                full height
            </div>
        </div>
        <div class="col-xs-8 demo" id="cell2">
            <div class="text-center">
                Content goes here
                a<br>
                a<br>
                a<br>
                a<br>
                a<br>
                a<br>
                a<br>
                a<br>
            </div>
        </div>   
    </div>
</div>


<div class="page-header">case 3</div>
<div class="row">
        <div class="col-xs-4" id="cell1" >
            <div class="text-center" >
                full height
            </div>
        </div>
        <div class="col-xs-8" id="cell2">
            <div class="text-center">
                Content goes here
                a<br>
                a<br>
                a<br>
                a<br>
                a<br>
                a<br>
                a<br>
                a<br>
            </div>
        </div>   
</div>


<!--------->
</div>
</section>