<style type="text/css">
.row {
    background-color: #ccc;
}

[class*="col-"] {
    border:1px solid black;
    background-color: #eee;
}
</style>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Layout 01
        <small>description here!</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Layout</a></li>
        <li class="active">Layout 01</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
<h2>aaaaaa</h2>
<div class="row">
<div class="col-xs-6">1</div>
<div class="col-xs-6">
<div class="row">
    <div class="col-xs-6">2</div>
    <div class="col-xs-6">3</div>
    <div class="">4</div>
</div>
</div>
</div>

<h2>aaaaaa</h2>
<div class="row">
<div class="col-xs-6">1</div>
<div class="col-xs-6">
<div class="row">
    <div class="col-xs-6">2</div>
    <div class="col-xs-6">3</div>
    <div class="col-xs-12">4</div>
</div>
</div>
</div>


<br><br>
<div class="row">
    <div class="col-md-5">Span 5</div>
    <div class="col-md-3">Span 3<br />second line</div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-12">Span 2</div>
        </div>
        <div class="row">
            <div class="col-md-12">Span 2</div>
        </div>
    </div>
    <div class="col-md-2">Span 2</div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">Span 6</div>
            <div class="col-md-12">Span 6</div>
        </div>
    </div>
    <div class="col-md-6">Span 6</div>
</div>

</section>


<script type="text/javascript">
</script>